<div class="container">
  <%= render 'layouts/errors', :object => @brewery %>


  <%= form_for @brewery do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.submit %>
  <%end %>

</div>
