<h1><%= @brewery.name %></h1>



<% if  @brewery.styles.any? %>
      <h4> <%= @brewery.name %> brews these styles of beer: </h4>
      <ul>
        <% @brewery.styles.each do |style| %>
        <li> <%= link_to style.style_name, brewery_style_path(@brewery, style.id) %> 
         <%= link_to "Edit", edit_brewery_style_path(@brewery, style) %>
         <%= link_to "Delete", brewery_style_path(@brewery, style),
                                    :data => { :confirm => "Are you sure",
                                                :method => "delete"}%> </li>

        <%end %>
      </ul>
    <%else %>
    <p>There are no Beer styles yet.</p>
    <% end %>


<p><%= link_to "Return to Breweries", breweries_path %></p>
<p><%= link_to "Edit a Brewery", edit_brewery_path%></p>
<p> <%= link_to "delete", brewery_path(@brewery),
                          :data => { :confirm => "You sure?",
                                      :method => "delete"} %></p>
