<div class="container">
  <h1> <%= @beer.name %> </h1>

  <p><strong>Alcohol Content</strong><%=@beer.alcohol_content %></p>
  <p><strong>IBU: </strong><%=@beer.ibu %></p>
  <p><strong>BLG:</strong><%=@beer.blg %></p>
  <p><strong>Hops: </strong><%=@beer.hops %></p>
  <p><strong></strong><%=@beer.yeast %></p>
  <p><strong></strong><%=@beer.malt %></p>
  <p><strong></strong><%=@beer.bio %></p>
</div>
